<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="contact-logo">
    <style>
        #logo{
            float: left;
            margin-top: 10px;
            margin-left: 60px;
            width:auto;
            height: auto;
        }

    </style>

    <template>
        <div id="logo">
            <img>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is:'contact-logo',
        properties:{
            logo:{
                type:String,
                value:""
            }
        },
        ready:function(){
            this.experiment = this.$$("#logo img");
            this.experiment.src="./img/About_us_3/"+this.logo+".png"
        }
    })
</script>
