<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="page-oval.html">
<link rel="import" href="../js/jquery-2.1.3.min.js">
<dom-module id="page-footer">
    <style>
        .footer{
            position: absolute;
           top:90%;
            height: 100px;
            width: 100%;
        }
        .down_log {
            margin: 0 auto;
            height: 60px;
            width: 60px;
            background: url(../img/About_us_1/Down.png);
            background-size: 100% 100%;
        }
        .down_log:hover{
            opacity: 0.5;
            cursor: pointer;
        }
    </style>

    <template>
      <div class="footer">
          <div class="down_log" on-click="getDown"></div>
      </div>
    </template>
</dom-module>
<script>
    Polymer({
        is:'page-footer',
        properties:{
             page:{
                 type:Number,
                 value:0
             }
        },
        getDown:function(){
            this.page = window.Num;
          this.page +=1;
            window.Num = this.page;
            $(".oval_href").children(".oval_1").removeClass('oval_2');
            $(".oval_href").children().eq(this.page).addClass('oval_2');
          $(".pages").animate({top:'-=980px'},800);
        }
    })
</script>